<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daas.basedata.mapper.ProvinceMapper">
  <sql id="Province_Column_List" >
    province_code provinceCode, province_name provinceName
  </sql>
  <sql id="Province_Where">
    <where>
      1=1
      <if test="provinceCode!=null and provinceCode!=''">
        and province_code = #{provinceCode,jdbcType=CHAR}
      </if>
      <if test="provinceName!=null and provinceName!=''">
        and province_name like concat(#{provinceName,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </sql>

  <select id="getProvinceTotal" resultType="java.lang.Long" parameterType="com.daas.basedata.vo.ProvinceVO">
    select count(*)
    from daas_base_province
    <include refid="Province_Where"/>
  </select>

  <select id="getProvinceByPage" resultType="com.daas.basedata.vo.ProvinceVO" parameterType="com.daas.basedata.vo.ProvinceVO">
    select
    <include refid="Province_Column_List"/>
    from daas_base_province
    <include refid="Province_Where"/>
    limit #{startSize},#{endSize}
  </select>

  <select id="getProvinceById" resultType="com.daas.basedata.dto.ProvinceDTO" parameterType="java.lang.Integer" >
    select
    <include refid="Province_Column_List"/>
    from daas_base_province
   where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertProvince" parameterType="com.daas.basedata.dto.ProvinceDTO" >
    insert into daas_base_province (province_code, province_name)
    values (#{provinceCode,jdbcType=CHAR}, #{provinceName,jdbcType=VARCHAR})
  </insert>

  <update id="updateProvinceById" parameterType="com.daas.basedata.dto.ProvinceDTO" >
    update daas_base_province
    <set>
        <if test="provinceName!=null and provinceName!=''">
          province_name = #{provinceName,jdbcType=VARCHAR}
        </if>
      <if test="provinceCode!=null and provinceCode!=''">
        province_code = #{provinceCode,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteProvinceById" parameterType="java.lang.String" >
    delete from daas_base_province
    where id = #{id,jdbcType=INTEGER}
  </delete>
</mapper>