<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daas.gaindata.mapper.BusinessDistrictMapper" >
  <insert id="insert" parameterType="com.daas.gaindata.dto.BusinessDistrictDto" >
    insert into daas_base_business_district (business_district_code, business_district_name, 
      area_code)
    values (#{businessDistrictCode,jdbcType=CHAR}, #{businessDistrictName,jdbcType=VARCHAR}, 
      #{areaCode,jdbcType=CHAR})
  </insert>
</mapper>